<div class="container">
  <h1 align="center">Listing all articles</h1>

<div align="center">
  <%= will_paginate %>
</div>  

 <%= render "article", obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>  

<% if logged_in? %>
  <hr>
  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= link_to "Create new article", new_article_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
  
  <br>
<% end %>

</div>
