<div class="jumbotron center">
  <div class="container">
    <h1>About Us!</h1>
    <p>Hey, diddle diddle, the cat and the fiddle, the cow jumped over the moon.</p>
    <p>
      <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
    </p>
  </div>
</div>   


    <div class="container">
      <h1>About Us</h1>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra quis elit id varius. Vestibulum ut arcu dignissim, tincidunt mauris id, imperdiet mauris. Donec a aliquet leo. Sed sed ornare neque. Duis eleifend magna sed aliquet ornare. Nam sed mi at diam lobortis pellentesque vitae quis neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet tincidunt nisi, nec auctor tellus. Aenean quam lacus, molestie et scelerisque et, porttitor et nulla. Fusce laoreet cursus metus at ornare. Praesent scelerisque magna orci. Maecenas volutpat semper erat. Phasellus id justo nec libero convallis varius ut tempus ipsum. Vivamus sollicitudin a ligula at vehicula. Mauris ut massa non nulla ullamcorper iaculis. Donec rhoncus blandit nulla consequat malesuada.
          </p>
        </div>

        <div class="col-sm-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra quis elit id varius. Vestibulum ut arcu dignissim, tincidunt mauris id, imperdiet mauris. Donec a aliquet leo. Sed sed ornare neque. Duis eleifend magna sed aliquet ornare. Nam sed mi at diam lobortis pellentesque vitae quis neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet tincidunt nisi, nec auctor tellus. Aenean quam lacus, molestie et scelerisque et, porttitor et nulla. Fusce laoreet cursus metus at ornare. Praesent scelerisque magna orci. Maecenas volutpat semper erat. Phasellus id justo nec libero convallis varius ut tempus ipsum. Vivamus sollicitudin a ligula at vehicula. Mauris ut massa non nulla ullamcorper iaculis. Donec rhoncus blandit nulla consequat malesuada.
          </p>
        </div>
      </div>
    </div>
